# ----- Postgres (docker-compose) -----
POSTGRES_DB=worklog
POSTGRES_USER=
POSTGRES_PASSWORD=

# ----- Spring Boot (local run) -----
SPRING_PROFILES_ACTIVE=local
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/worklog
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
