server:
  port: ${PORT:8080}

spring:
  profiles:
    active: local
  application:
    name: worklog-api


  datasource:
    url: jdbc:postgresql://localhost:5432/worklog
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
     ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info